@inherits CofoundryPage<FooterMenuViewModel>
@{
    Layout = null;
}

@if (!EnumerableHelper.IsNullOrEmpty(Model.PageRoutes))
{
    <ul>
        @foreach (var page in Model.PageRoutes)
        {
            <li><a href="@Cofoundry.Routing.Page(page)">@page.Title</a></li>
        }
    </ul>
}